
.contact_section{
max-width: 1000px;
}
.contact_section h1{
    padding: 0 8px;
    font-size:48px;
    font-weight: 800;
    max-width: 80%;
}
.contact_section p{
    padding: 0 8px;
    font-weight: 500;
}